{% extends "base.html" %}
{% block title %}{{ book["title"] }} by {{ book["author"] }}{% endblock %}
{% block content %}
	<div class="content-section">
		<form method="POST">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<label class="form-label">Book title</label>
				<div class="form-group">
					<input type="text" class="form-control" value="{{ book['title'] }}" readonly>
				</div>

				<label class="form-label">Author</label>
				<div class="form-group">
					<input type="text" class="form-control" value="{{ book['author'] }}" readonly>
				</div>

				<label class="form-label">Topic</label>
				<div class="form-group">
					<input type="text" class="form-control" value="{{ book['topicName'] }}" readonly>
				</div>

				{% if book['pages']|length > 0 %}
				<label class="form-label">Year</label>
				<div class="form-group">
					<input type="text" class="form-control" value="{{ book['year'] }}" readonly>
				</div>
				{% endif %}

				{% if book['pages']|length > 0 %}
					<label class="form-label">Pages</label>
					<div class="form-group">
						<input type="text" class="form-control" value="{{ book['pages'] }}" readonly>
					</div>
				{% endif %}

				{% if book['pages']|length > 0 %}
					<label class="form-label">ISBN</label>
					<div class="form-group">
						<input type="text" class="form-control" value="{{ book['isbn'] }}" readonly>
					</div>
				{% endif %}

				{% if book['description']|length > 0 %}
					<label class="form-label">Book description</label>
					<div class="form-group">
						<textarea class="form-control"] rows="4" readonly>{{ book['description'] }}</textarea>
					</div>
				{% endif %}

				{% if book['tableOfContents']|length > 0 %}
					<label class="form-label">Book description</label>
					<div class="form-group">
						<textarea class="form-control" rows="5" cols="90" readonly>{{ book['tableOfContents'] }}</textarea>
					</div>
				{% endif %}

				<div class="form-group">
					{% set book_rating = book["rating"] %}
					<label class="form-label">Your rating</label>
					<div class="rate">
    					<input type="radio" id="star5" name="rating" value="5"
							   {% if book_rating == 5 %} checked="checked" {% endif %}/>
    					<label for="star5" title="It was amazing!">5 stars</label>
    					<input type="radio" id="star4" name="rating" value="4"
								{% if book_rating == 4 %} checked="checked" {% endif %}/>
    					<label for="star4" title="I really liked it">4 stars</label>
    					<input type="radio" id="star3" name="rating" value="3" \
								{% if book_rating == 3 %} checked="checked" {% endif %}/>
    					<label for="star3" title="I liked it">3 stars</label>
    					<input type="radio" id="star2" name="rating" value="2"\
								{% if book_rating == 2 %} checked="checked" {% endif %}/>
    					<label for="star2" title="I did not like it">2 stars</label>
    					<input type="radio" id="star1" name="rating" value="1"
								{% if book_rating == 1 %} checked="checked" {% endif %}/>
    					<label for="star1" title="It was terrible">1 star</label>
					</div>
				</div>
				<div class="form-group">
					{{ form.submit(class="btn btn-success") }}
				</div>

			</fieldset>
		</form>
	</div>

{% endblock %}