{% extends "base.html" %}
{% block title %} Find books{% endblock %}
{% block content %}
    <div class="content-section">
        <form method="GET">
            <fieldset class="form-group">
                <label class="form-label">Title starting with</label>
				<div class="form-group">
					<input type="text" class="form-control" name="title" {% if filter_data %} value={{filter_data.title}} {% endif %}>
				</div>
                <label class="form-label">Author</label>
				<div class="form-group">
					<input type="text" class="form-control" name="author" {% if filter_data %} value={{filter_data.author}} {% endif %} >
				</div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Search</button>
                </div>
                {% if books and books|length > 0 %}
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Author</th>
                            <th scope="col">Pages</th>
                            <th scope="col">Topic</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for book in books %}
                                <tr>
                                    <td><a href="{{ url_for('book_detail', book_id=book['id']) }}">{{ book["title"] }}</a></td>
                                    <td>{{ book["author"] }}</td>
                                    <td>{{ book["pages"] }}</td>
                                    <td>{{ book["topicName"] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {{ pagination.info }}
                    {{ pagination.links }}
                {% endif %}
            </fieldset>
        </form>
    </div>
{% endblock %}